{% extends "base.html" %}

{% block content %}
<h2>Quiénes Somos</h2>
<div class="profile">
    <img src="{{ url_for('static', filename='img/MTZZ5114.JPEG') }}" alt="Foto de Diego Sánchez" class="profile-img">
    <p>Mi nombre es Diego Sánchez, estudiante del Instituto Profesional IPLACEX, donde además he obtenido
        dos certificados: uno en manejo de herramientas de plantillas Excel y otro en emprendimiento y
        marketing digital. Anteriormente cursé la carrera de Ingeniería en Informática en INACAP, donde
        adquirí conocimientos en Java, HTML y PHP, alcanzando el tercer año.

        Durante la pandemia, y con el nacimiento de mi hija Emilia, decidí pausar mis estudios. Ahora,
        con renovada determinación, estoy comprometido a terminarlos. Paralelamente, estoy cursando un
        diplomado impartido por SENCE junto con Movistar sobre diseño y desarrollo web, en el que estoy
        aprendiendo a utilizar WordPress. Además, cuento con experiencia en reparación de computadoras,
        televisores y celulares, lo que me ha permitido fortalecer mis habilidades prácticas en el ámbito
        tecnológico.</p>
</div>
<p>Si tienes alguna consulta, no dudes en contactarme al diego.eolo95@gmail.com</p>
{% endblock %}
